btec/template/unit/xsd/unit.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:kode="http://kode1100.com" xmlns:x="http://www.xopus.com/xmlns/config" elementFormDefault="qualified">

  <xs:element name="unit" type="unitxtype" x:role="hidden-from-ui" kode:doc="Unit top level elements"/>

  <xs:complexType name="unitxtype">

    <xs:sequence>

      <xs:element name="meta">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="number" type="xs:int" x:placeholder="0"/>

            <xs:element name="unit_title" type="plainText" x:placeholder="The title of the unit"/>

            <xs:element name="level" type="level_def" x:placeholder="1"/>

            <xs:element name="type" type="unit_type_def" x:placeholder="Right click for drop down list"/>

            <xs:element name="guided_learning_hours" type="xs:float" x:placeholder="0"/>

            <xs:element name="assessment_type" type="unit_assessment_type_def" x:role="hidden-from-ui" x:placeholder="Right click for drop down list"/>

          </xs:sequence>
        </xs:complexType>

      </xs:element>
      <xs:element name="introduction">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="paragraph" x:placeholder="Paragraph introducing the unit" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="learning_objectives"   x:role="hidden-from-ui">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="learning_objective" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
               
                  <xs:element name="learning_objective_title" type="plainText" x:role="hidden-from-ui" x:placeholder="The title of the learning aim section"/>

                  <xs:element name="distinct_objective" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="distinct_objective_title" type="plainText" x:placeholder="The title of a specific unique objective"/>
                        <xs:element name="distinct_objective_text" type="paragraph_describedlist_choice_type" minOccurs="1"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="assessment_guidance" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="assessment_guidance_text" type="paragraph_describedlist_choice_type"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element name="assessment_criteria" type="assessment_criteria_type" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="suggested_assignment_outlines" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="distinct_suggested_assignment_outline" minOccurs="1" maxOccurs="unbounded">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="criteria_covered">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element name="criterion_id" type="criterion_id__type" minOccurs="1" maxOccurs="unbounded"/>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                              <xs:element name="assignment_title" type="plainText"/>
                              <xs:element name="scenario" type="paragraph_describedlist_choice_type"  />
                              <xs:element name="assessment_evidence" type="assessment_type"/>              
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                 </xs:sequence>
                <xs:attribute name="learn_obj_id" type="xs:ID" x:role="hidden-from-ui" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>

      <xs:element name="teacher_guidance" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="distinct_teacher_guidance" minOccurs="1" maxOccurs="unbounded">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="subtitle" type="plainText"/>
                  <xs:element name="teacher_guidance_text" type="paragraph_describedlist_choice_type"  />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="global_assessment_guidance" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="assessment_guidance_text" type="paragraph_describedlist_choice_type"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>


  <!-- BEGIN ASSESSMENT CRITERIA -->

  <xs:complexType name="assessment_criteria_type">
    <xs:sequence>
      <xs:element name="prelevel_criteria" minOccurs="0" maxOccurs="1" x:role="hidden-from-ui">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="prelevel_criterion" type="assessment_criterion_xtype" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="pass_criteria" minOccurs="0" maxOccurs="1" x:role="hidden-from-ui">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="pass_criterion" type="assessment_criterion_xtype" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="merit_criteria" minOccurs="0" maxOccurs="1" x:role="hidden-from-ui">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="merit_criterion" type="assessment_criterion_xtype" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="distinction_criteria" minOccurs="0" maxOccurs="1" x:role="hidden-from-ui">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="distinction_criterion" type="assessment_criterion_xtype" minOccurs="1" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="assessment_criterion_xtype">
    <xs:sequence>
      
      <xs:element name="criterion_id" type="criterion_id__type"/>
      <xs:element name="criterion" type="paragraph_describedlist_choice_type"   x:role="hidden-from-ui" x:placeholder="Insert criterion text"/>
      <xs:element name="GSCE_english" type="yes_no_type"/>
      <xs:element name="GSCE_math" type="yes_no_type"/>
      
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="paragraph" x:placeholder="Paragraph introducing the unit"/>
        <xs:element name="describedlist" type="described_list_type"/>
      </xs:choice>
      <!--<xs:element name="pltsvalue" type="plts_value_type"/>-->
      <xs:element name="criterion_guidance" type="paragraph_describedlist_choice_type" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="paragraph_describedlist_choice_type">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element ref="paragraph" x:placeholder="Paragraph introducing the unit"/>
        <xs:element name="describedlist" type="described_list_type"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  
<!--  <xs:complexType name="plts_value_type">
    <xs:sequence>
      <xs:element name="initials" type="plts_initials_type" x:role="hidden-from-ui" x:placeholder="XX"/>
<!-\-      <xs:element name="number" type="criteria_numbering_type" x:role="hidden-from-ui" x:placeholder="0"/>-\->
    </xs:sequence>
  </xs:complexType>-->

  <xs:simpleType name="criterion_id__type" kode:doc="2D.P7">
    <xs:restriction base="xs:string">
      <xs:pattern value="\s*\(?([0-9][A-Z]\.[(P|M|D)]?[0-9][0-9]?|([0-9]|\.|,)+)\)?\s*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="criteria_numbering_type">
    <xs:restriction base="xs:int">
      <xs:pattern value="\s*[(0-9|A-Z)]?[0-9]\s*"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="plts_initials_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="IE"/>
      <xs:enumeration value="CT"/>
      <xs:enumeration value="RL"/>
      <xs:enumeration value="TW"/>
      <xs:enumeration value="SW"/>
      <xs:enumeration value="EP"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="yes_no_type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Yes"/>
      <xs:enumeration value="No"/>
    </xs:restriction>
  </xs:simpleType>
  
  
  
  


  <!-- END ASSESSMENT CRITERIA -->



  <xs:simpleType name="unit_assessment_type_def">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Internal"/>
      <xs:enumeration value="External"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="level_def">
    <xs:restriction base="xs:string">
      <xs:enumeration value="1"/>
      <xs:enumeration value="2"/>
      <xs:enumeration value="1 and 2"/>
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="unit_type_def">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Core/Mandatory"/>
      <xs:enumeration value="Core"/>
      <xs:enumeration value="Mandatory"/>      
      <xs:enumeration value="Optional specialist"/>      
    </xs:restriction>
  </xs:simpleType>


  <!-- XOPUS TYPES USING TO GET MORE ABILITY TO STYLE THE TEXT -->

  <xs:element name="emphasis" type="inlineInsideType"/>
  <xs:element name="strong" type="inlineInsideType"/>
  <xs:element name="underline" type="inlineInsideType"/>
  <xs:element name="subscript" type="xs:string"/>
  <xs:element name="superscript" type="xs:string"/>

  
  <xs:simpleType name="plainText">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  
  
<!--  <xs:complexType name="plainText" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="subscript"/>
      <xs:element ref="superscript"/>
    </xs:choice>
  </xs:complexType>
  -->
  
  <xs:complexType name="inlineInsideType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element ref="strong"/>
      <xs:element ref="emphasis"/>
      <xs:element ref="underline"/>
      <xs:element ref="link"/>
      <xs:element ref="subscript"/>
      <xs:element ref="superscript"/>
    </xs:choice>
  </xs:complexType>

 
 
  <xs:element name="paragraph">
    <xs:complexType>
      <xs:complexContent mixed="true">
        <xs:extension base="inlineInsideType"/>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  
  
  
  <xs:complexType name="assessment_type">
    <xs:sequence>
      <xs:group ref="list"/>
    </xs:sequence>
  </xs:complexType>
  
  
  

  <xs:complexType name="described_list_type">
    <xs:sequence>
      <xs:element name="list_description" maxOccurs="1" minOccurs="1">
        <xs:complexType>
          <xs:complexContent mixed="true">
            <xs:extension base="inlineInsideType"/>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:group ref="list"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="unorderedlist" type="listType"/>

  <xs:complexType name="listType">
    <xs:sequence>
      <xs:element name="item" type="listItemType" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listItemType">
    <xs:sequence>
      <xs:element ref="paragraph"/>
      <xs:group ref="list" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:group name="list">
    <xs:choice>
      <xs:element ref="unorderedlist"/>
    </xs:choice>
  </xs:group>

  <xs:element name="link">
    <xs:complexType mixed="true">
      <xs:complexContent>
        <xs:extension base="inlineInsideType">
          <xs:attribute name="href" type="xs:string" use="required" />
          <xs:attribute name="target" default="_self">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="_self" />
                <xs:enumeration value="_new" />
              </xs:restriction>
            </xs:simpleType>
          </xs:attribute>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>






</xs:schema>
